@import '../../styles/mixins';
@import '../../styles/variables';

.wrapper {
	display: flex;
}

.container {
	width: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1;
}
