/* Imports */
@import '../../../../styles/mixins';
@import '../../../../styles/variables';

/* Module */
.wrapper {
    width: 100%;
}

@media (max-width: 1024px) {
    .wrapper {
        width: 100%;
    }
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 24px 10px;
}

@media (max-width: 1024px) {
    .news-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .news-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    flex: 0 0 calc(33.33% - 20px);
    max-width: 380px;
}
