/* Imports */
@import '../../../styles/mixins';
@import '../../../styles/variables';

/* Module */
.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding: 0 20px;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 60px 0;
    width: var(--default-layout-width);
}

@media (max-width: 1024px) {
    .inner {
        width: 100%;
        flex-direction: column;
    }
}
